<style>
  label {
  white-space: pre-wrap;
}
</style>

<form [formGroup]="letterForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="lettersInWord">Letters Found:</label>
    <input id="lettersInWord" class="form-control" type="text" maxlength="5" formControlName="lettersInWord">
  </div>

  <div class="form-group">
    <label for="lettersNotInWord">Letters Used:</label>
    <input id="lettersNotInWord" class="form-control" type="text" maxlength="24" formControlName="lettersNotInWord" >
  </div>

  <button class="button" type="submit">Find</button>

</form>

<br/>
<ng-container>
      <label id="lblwordsLeft">
          {{wordsLeft}}
      </label>
</ng-container>

<p>Word Helper</p>
